
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
.score,
.start{
    position: absolute;
    background:rgb(73, 73, 200);
    width: 100%;
    top: 0;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
body{
    background: #66ac92;
}
#start-btn,
.restart{
padding: 20px 80px;
border-radius: 10px;
border:none;
font-size: 20px;
}
.restart {
    margin-top: 0.9em;
  }
.hide{
    display: none;
}
#containner{
    background-color: #ffffff;
    padding: 3.1em 1.8em;
    width: 80%;
    max-width: 37.5em;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding-bottom: 10px;

}
.timmer{
  background-color: #e1f5fe;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.5em;
  padding: 0.7em 1.8em;
  border-radius: 1.8em;
}
#next-btn{
    background:#66ac92;
    color: #e1f5fe;
    padding: 10px 50px;
    margin-top: 50px;
    border-radius:10px;
    border: none;
    float: right;
    font-size:1em;
}
.question-p{
margin-top:10px;
}
.option-div {
    font-size: 0.9em;
    width: 100%;
    padding: 1em;
    margin: 0.3em 0;
    text-align: left;
    outline: none;
    background: transparent;
    border: 1px solid #66ac92;
    border-radius: 0.3em;
  }
  .option-div:disabled {
    color: #000000;
    cursor: not-allowed;
  }

.incorrect {
    background-color: #ffdde0;
    color: #d32f2f;
    border-color: #d32f2f;
  }
  .correct {
    background-color: #e7f6d5;
    color: #689f38;
    border-color: #689f38;
  }
  .my-score {
    font-size: 1.5em;
    color: #ffffff;
  }